{% extends 'layout.html' %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
{% endblock %}
{% block heading %}{% endblock %}
{% block content %}

<link href='https://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/style.css"> 
  </head>
  <body>


  <div class="text-wrapper">
    <h1>The Ranking Hat</h1>
    	
    	<div class="rankbutton">
    		<a href="{{url_for('inputweights')}}" class="button">Rank Colleges</a>
    	</div>
 
   </div>
  </body>

{% endblock %}


