{% extends 'layout.html' %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='ranking.css')}}"/>
{% endblock %}
{% block heading %}{% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/css/ranking.css"> 

<h1> Ranking Weights </h1>


<div class="categories">
	<form method="post" action="{{url_for('getuserinput') }}">

	<div class="container-fluid">
		
		<div class="row">

			<div class="col-md-6">  
				<div class="boxed">
					Acceptance Rate
				</div>
				<div class="input">
				<input type="text" name="acceptancerate" placeholder="Place weight here" id = "nameField1" class="txtbox"/>
				</div>
			</div>

			<div class="col-md-6">  
				<div class="boxed">
					SAT Average
				</div>
				<div class="input">
				<input type="text" name="sataverage" placeholder="Place weight here" id = "nameField2" class="txtbox"/>
				</div>
			</div>
		
		</div>	

		<div class="row">

			<div class="col-md-6">  
				<div class="boxed">
					Instructional Expenditure
				</div>
				<div class="input">
				<input type="text" name="instructionalexpenditure" placeholder="Place weight here" id = "nameField3" class="txtbox"/>
				</div>
			</div>

			<div class="col-md-6">  
				<div class="boxed">
					Student Debt
				</div>
				<div class="input">
				<input type="text" name="studentdebt" placeholder="Place weight here" id = "nameField4" class="txtbox"/>
				</div>
			</div>
		
		</div>

	
		<div class="row">	

			<div class="col-md-6">
				<div class="boxed">
					Student Body Diversity
				</div>
				<div class="input">
				<input type="text" name="studentbodydiversity" placeholder="Place weight here" id = "nameField5" class="txtbox"/>
				</div>
			</div>	

			<div class="col-md-6">
				<div class="boxed">
					Graduation Rate
				</div>
				<div class="input">
				<input type="text" name="graduationrate" placeholder="Place weight here" id = "nameField6" class="txtbox"/>
				</div>
			</div>	
		</div>	


		<div class="row">

			<div class="col-md-6">  
				<div class="boxed">
					Full-Time Faculty
				</div>
				<div class="input">
				<input type="text" name="fulltimefaculty" placeholder="Place weight here" id = "nameField7" class="txtbox"/>
				</div>
			</div>

			
		
		</div>
	
		<input type="submit" class="rankbutton" id="rankbutton" value="Rank">
	</form>	
</div>




  
  <div class="points">
  Your total remaining weight points: <span id='nameDisplay'>??</span>
  </div>
</body>
	
      



<script>
 window.onload = function() {

  var nameField1 = document.getElementById('nameField1');
  var nameField2 = document.getElementById('nameField2');
  var nameField3 = document.getElementById('nameField3');
  var nameField4 = document.getElementById('nameField4');
  var nameField5 = document.getElementById('nameField5');
  var nameField6 = document.getElementById('nameField6');
  var nameField7 = document.getElementById('nameField7');
  var nameDisplay = document.getElementById('nameDisplay');

  updateNumDisplay();

  nameField1.oninput = updateNumDisplay;
  nameField2.oninput = updateNumDisplay;
  nameField3.oninput = updateNumDisplay;
  nameField4.oninput = updateNumDisplay;
  nameField5.oninput = updateNumDisplay;
  nameField6.oninput = updateNumDisplay;
  nameField7.oninput = updateNumDisplay;

  function updateNumDisplay() {
    var nameField = parseInt(nameField1.value || 0) + parseInt(nameField2.value || 0) + parseInt(nameField3.value || 0) + parseInt(nameField4.value || 0) + parseInt(nameField5.value || 0) + parseInt(nameField6.value || 0) + parseInt(nameField7.value || 0);
    var differenceValue = 100 - nameField;
    if (isNaN(nameField) || nameField < 0 || nameField > 100) {
      nameDisplay.innerHTML = "ERROR: Please enter valid integer between 0-100"
    }
    else {
      nameDisplay.innerHTML = differenceValue;
    }

    if (differenceValue != 0){
    	document.getElementById('rankbutton').disabled = true;
    }
    else{
    	document.getElementById('rankbutton').disabled = false;
    }

  }
};


</script>

{% endblock %}