{% extends 'layout.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static/css', filename='result.css')}}">
{% endblock %}
{% block scripts %}
<script src="{{url_for('.static/js', filename='result.js')}}"></script>
{{super()}}
{% endblock %}
{% block heading %}User Input Test{% endblock %}
{% block content %}
<ul>
  <div id="content">
  	User <strong> {{inputweight}} </strong>
  </div>	
</ul>
<hr/>
<p>{{schools|length}} school{{schools|length|pluralize}}
  found in the database.</p>
{% endblock %}